<ion-view view-title="Users">
  <ion-content>   

  <ion-item>
    	<form ng-submit="suche()">
    		<label class="item item-input item-stacked-label">
         		<span class="input-label">Where do you wanna go?</span>
         		<input type="search" ng-model="search.destination" placeholder = "Search Destination">
        	</label>
			<label class="item">
          		<button class="button button-block button-positive" type="submit">Search</button>
        	</label>
		</form>
  </ion-item>

  <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="user in Ausgabe" type="item-text-wrap" href="#/tab/findMate/mate-profile/{{user.id}}" >
        <img ng-src="http://compsci.ca/v3/uploads/user_avatars/66978344050ad764a63277.jpg">
        <h2>{{user.name}} {{user.last_name}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>