<ion-view view-title="Find TravelMate">
  <ion-content>

    <ion-item>
      <form ng-submit="suche()">

         <label class="item item-input item-select item-stacked-label">
             <span class="input-label">Find TravelMates with same destination!</span>
             </br>
             <div class="input-label" ><span id = "greyspan" >Choose destination:</span>
                  &nbsp;
             </div>
             </br>
             <select ng-model="search.destination" type="text" placeholder = "Your current location">
                  <option >Amsterdam</option>
                  <option >Berlin</option>
                  <option >London</option>
                  <option >Rom</option>
                  <option >Barcelona</option>
             </select>
         </label>
         <label class="item">
              <button class="button button-block button-positive" type="submit">Search</button>
         </label>
      </form> 
  </ion-item>

  <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="user in Ausgabe" type="item-text-wrap" href="#/tab/findMate/mate-profile/{{user.id}}" >
          <img ng-src="{{images[4].pic}}">
          <h2>{{user.name}} {{user.last_name}}</h2>
          <p>Startdate: {{profileAusgabe[user.id].startdate}}</p> 
          <p>Looking for: {{profileAusgabe[user.id].looking_for}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list> 

  </ion-content>
</ion-view>