<ion-view hide-nav-bar="true" class="login" view-title="Login">
<meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">
  <ion-content>
  <div class="list card">

    <div class="item">
      <h2>Welcome to TravelMate</h2>
      <p>Please Login</p>
    </div>
    <!--Free Stock Images von https://static.pexels.com-->
    <div class="item item-image">
        <img ng-src="{{images[0].pic}}">
    </div>
    

    <form ng-submit="login()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="loginData.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>

    <div class="row">
      <div class="col text-center"><a ui-sref="register">Register</a></div>
    </div>

</div>

  </ion-content>
</ion-view>