<ion-view view-title="Register" class="pane">
  <ion-content>
    <form name="registerForm" novalidate ng-submit="signup()">
      <div class="list">
        <label class="item item-image">
          <img ng-src="{{images[3].pic}}">
        </label>
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="newUser.name" name ="name" ng-minlength="3" ng-maxlength = "50" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Last name</span>
          <input type="text" ng-model="newUser.last_name" name = "last_name" required ng-maxlength = "50"> 
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" ng-model="newUser.email" name = "email" ng-minlength="5" required ng-maxlength = "50">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="newUser.password" name = "password" ng-minlength="5" required ng-maxlength = "50">
        </label>

        <label class="item">
           <div class="errors" ng-show="registerForm.$submitted || loginForm.password.$touched">
            <p ng-show="registerForm.name.$error.required">*Name is required</p>
            <p ng-show="registerForm.name.$error.minlength">*Name is too short</p>
             <p ng-show="registerForm.name.$error.maxlength">*Name is too long</p>

            <p ng-show="registerForm.last_name.$error.required">*Last name is required</p>
             <p ng-show="registerForm.last_name.$error.maxlength">*Last name is too long</p>

            <p ng-show="registerForm.email.$error.required">*Email is required</p>
            <p ng-show="registerForm.email.$invalid  && !myForm.username.$pristine">* Email must be an valid email address</p>
            <p ng-show="registerForm.email.$error.minlength">*Email is too short</p>
            <p ng-show="registerForm.email.$error.maxlength">*Email is too long</p>

            <p ng-show="registerForm.password.$error.required">*Password is required</p>
            <p ng-show="registerForm.password.$error.minlength">*Password must be at least 5 characters long</p>
            <p ng-show="registerForm.password.$error.maxlength">*Password is too long</p>             
          </div>  
          <button class="button button-block button-positive">Register</button>
        </label>
        
      </div>
    </form>
  </ion-content>
</ion-view>