<ion-view view-title="Travel Mate Profile">

  <ion-content>
     <ion-item>
     
      <div class = "row">
            <h2 class = "profil-heading"> {{ user_name }} {{user_last_name}}</h2>  
      </div>
      <div id ="contact">
        <button class="button button-calm icon-left ion-email" ng-click="contact()">Contact</button>
         <a href="mailto:test@example.com?subject=testing out mailto" class="button button-positive">Contact</a>
      </div>
     
          <div id = "profile_img">
            <img ng-src="http://compsci.ca/v3/uploads/user_avatars/66978344050ad764a63277.jpg" alt = "profile_picture" height="100px">
        
          
          
    </div>

 </ion-item>


 <div class = "profil-information">
 <ion-list>
    <ion-item >
       <h2>Alter:</h2>
       <p>{{profil.age}}</p>
    </ion-item>
    <ion-item >
       <h2>Gender:</h2>
       <p>{{profil.sex}}</p>
    </ion-item>
    <ion-item >
      <h2>Location: </h2>
      <p>{{profil.location}}</p>
    </ion-item>
    <ion-item >
      <h2>Destination:</h2>
      <p> {{profil.destination}} </p>
    </ion-item>
    <ion-item >
       <h2>Startdate:</h2>
       <p> {{profil.startdate}}</p>
    </ion-item>
    <ion-item >
       <h2>Looking for:</h2>
       <p>{{profil.looking_for}}</p>
    </ion-item>
     <ion-item >
       <h2>Interests:</h2>
       <p>{{profil.interests}}</p>
    </ion-item>
    <ion-item >
       <h2>About me:</h2>
       <div id ="about" class="item item-text-wrap">
    {{profil.about}}
  </div>
    </ion-item>
  </ion-list>
</div>
  </ion-content>
</ion-view>



<!-- Header Title
  <div class="bar bar-header bar-light">
      <h1 class="title">{{ user_name }} {{user_last_name}} </h1>
  </div>
-->

        
        