<ion-view view-title="TravelMate Profile">
<button class="button button-small icon ion ion-edit"></button></h2>  
  <ion-content>
     <ion-item>
     <!-- Name, Nachname -->
      <div class="row">
        <h2> <strong>{{ user_name }} {{user_last_name}} <strong></h2>  
      </div>

      <div class="row">
        <button class="button button-calm icon-left ion-email" ng-click="contact()">
            Contact
        </button>
      </div>
      
 </ion-item>
 <ion-list>
    <ion-item >
       <h2>Alter: {{profil.age}}</h2>
    </ion-item>
    <ion-item >
       <h2>Sex: {{profil.sex}}</h2>
    </ion-item>
    <ion-item >
      <h2>Location: {{profil.location}}</h2>
    </ion-item>
    <ion-item >
      <h2>Destination: {{profil.destination}}</h2>
    </ion-item>
    <ion-item >
       <h2>Startdate: {{profil.startdate}}</h2>
    </ion-item>
    <ion-item >
       <h2>Looking for: {{profil.looking_for}}</h2>
    </ion-item>
     <ion-item >
       <h2>Interests: {{profil.interests}}</h2>
    </ion-item>
    <ion-item >
      <h2>About Me: {{profil.about}}</h2>
    </ion-item>
  </ion-list>
  </ion-content>
</ion-view>


<!-- Header Title
  <div class="bar bar-header bar-light">
      <h1 class="title">{{ user_name }} {{user_last_name}} </h1>
  </div>
-->

        
        