<ion-view view-title="Create profile">
  <ion-content>
    <form ng-submit="create()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Age</span>
          <input type="number" ng-model="newProfil.age">
        </label>
         <label class="item item-input item-select">
          <span class="input-label">Sex</span>
          <div class="input-label">
            &nbsp;
          </div>
          <select ng-model="newProfil.sex">
            <option selected>female</option>
            <option >male</option>
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label">Location</span>
          <input type="text" ng-model="newProfil.location">
        </label>
        <label class="item item-input">
          <span class="input-label">Destination</span>
          <input type="text" ng-model="newProfil.destination">
        </label>
        <label class="item item-input">
          <span class="input-label">When?</span>
          <input type="date" ng-model="newProfil.startdate">
        </label>
        <label class="item item-input">
          <span class="input-label">Looking For</span>
          <input type="text" ng-model="newProfil.looking_for">
        </label>
        <label class="item item-input">
          <span class="input-label">Interests</span>
          <input type="text" ng-model="newProfil.interests">
        </label>
         <label class="item item-input">
          <span class="input-label">About Me</span>
          <input type="text" ng-model="newProfil.about">
        </label>
        <label class="item">
          <button class="button button-block button-positive">Create Profile</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>