<ion-view view-title="Dashboard" class="pane">
  <ion-content class="padding">

    <div class="list card">

      <div class="item item-avatar">
          <img ng-src="{{images[4].pic}}">
          <h2>Hey, this is TravelMate</h2>
          <p>demo version 1.0</p>
      </div>
      
      <div class="item item-body">
          <img class="full-image" ng-src="{{images[2].pic}}">
          <p>
           TravelMates may be different kinds of people. Travel companions on a trip, travelers with whom you meet spontaneously and party, or someone you just meet to drink coffee with in a foreign country.
           As you can see, there are many possibilities of what a TravelMate can be :)
          </p>
          <p>
            <a href="#" class="subdued">-let the adventure begin-</a>
          </p>
      </div>
  </div>
  </ion-content>
</ion-view>
