<ion-view view-title="Dashboard" class="pane">
  <ion-content class="padding">

    <div class="list card">

      <div class="item item-avatar">
          <img ng-src="{{images[4].pic}}">
          <h2>Hey, this is TravelMate</h2>
          <p>Demoversion 1.0</p>
      </div>
      
      <div class="item item-body">
          <img class="full-image" ng-src="{{images[2].pic}}">
          <p>
            TravelMate was made to help travellers around the world to find their special TravelMates.
            TravelMates can be ....
          </p>
          <p>
            <a href="#" class="subdued">2016-02-26</a>
            <a href="#" class="subdued"></a>
          </p>
      </div>
  </div>
  </ion-content>
</ion-view>
