<ion-view view-title="Users">
  <ion-content>    
  <ion-item>
    	<form ng-submit="suche()">
    		<label class="item item-input">
         		<span class="input-label">Search Destination</span>
         		<input type="search" ng-model="search.destination">
        	</label>
			<label class="item">
          		<button class="button button-block button-positive" type="submit">send data</button>
        	</label>
		</form>
  </ion-item>
	<!--<ion-list>
	  <ion-item ng-repeat="user in Ausgabe" class="item item-text-wrap">
 
	    <h2>{{user.user_name}} {{user.user_last_name}}</h2>
 
	  </ion-item>
	</ion-list>-->

	<ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="user in Ausgabe" type="item-text-wrap" href="#/tab/users/tab-account" >
        <img ng-src="http://compsci.ca/v3/uploads/user_avatars/66978344050ad764a63277.jpg">
        <h2>{{user.user_name}} {{user.user_last_name}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>


</ion-content>
</ion-view>